<div class="box is-4 level-right">
  <div class="pr-5">
      <div class="is-size-7 has-text-weight-bold">{{greeting}}</div>
      <div>{{user.firstName}} {{user.lastName}}</div>
  </div>
  <div class="">
    <a href="/logout">
      <button class="button fas fa-sign-out-alt is-6 " style="color:rgb(156, 70, 128)" title="Log out"> Log out </button>
    </a>
  </div>
</div>
