<div class="box m-2">
    <div>
        <h1>List all your favorites forests:</h1>
    </div>
  {{#each placemarks}}
    <div class="box box-link-hover-shadow">
      <h2 class="">
        {{name}}
      </h2>
    </div>
  {{/each}}
</div>
