<form action="/placemarks/addplacemark" method="POST">
  <div class="columns">
    <div class="field column">
      <label class="label">Placemark Name</label> <input class="input" type="text" placeholder="Enter placemark name" name="name">
    </div>
    <div class="field column">
      <label class="label">Category</label> <input class="input" type="text" placeholder="Enter category" name="categoryname">
    </div>
  </div>
  <button class="button is-link">Add Placemark</button>
</form>
