<div class="is-vcentered">
  {{> TitleBar title="All about forests" subTitle="Please Log In"}}
</div>

<div class="columns">
  <div class="column">
    <div class="box">
      <h1 class="title">Log in</h1>
      {{> LoginForm }}
    </div>
  </div>
  <div class="column has-text-centered">
    <img width="800" src="images/forest-logo.png">
  </div>
</div>