<div class="is-vcentered">
  {{> TitleBar title="All about forests" subTitle="Placemark Forests"}}
</div>

<div class="columns py-6 is-vcentered content">
  <div class="column has-text-centered">
    <img width="300"  src="images/sign-post.png" style="border-radius: 50%"/>
  </div>
  <div class="column">
    <h1 class=""> {{ greeting }} </h1>
    <p>List and mark your favourite Forests.</p>
    <p>Please Sign up or Log in...</p>
  </div>
</div>