<div class="is-vcentered">
  {{> TitleBar title="All about forests" subTitle="Favorites Forests!"}}
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="images/sign-post.png"/>
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Give Generously!</h1>
    <div>{{> PlacemarksForm }}</div>
    <div>{{> PlacemarksList }}</div>
  </div>
</div>

